<h1 class="ui orange header"><%= @board.name %></h1>
<hr />
<h2 class="ui olive header"><%= @list.name %></h2>
<hr />
<h3 class="ui teal header"><%= @list.descript %></h3>
<hr />
<%= link_to "Add Task", new_list_task_path(@list), class: "ui teal button inverted" %>
<%= link_to "Edit Description", edit_board_list_path(@board, @list), class: "ui pink button inverted" %>
<%= link_to "Back to the Board" , (@board), class: "ui blue button inverted" %>

